.container{
    position: fixed;
    top: 100px;
    width: 340px;
    left: calc(50% - 170px);
    margin: 20px 0 0;
    padding: 20px;
    box-shadow: var(--shadow);
    background-color: var(--block-color);
    text-align: center;
}

.cross{
    font-size: 30px;
    margin-left: calc(100% - 30px);
    cursor: pointer;
}

.heading {
    font-size: 1.5rem;
    margin: 0 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-bottom: 10px;
}

.toggleLink {
    text-decoration: underline;
    cursor: pointer;
}