.card {
    width: 22vw;
    height: 100%;
    padding: 1vw;
    box-shadow: var(--shadow);
    background-color: var(--block-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.name {
    font-size: 1.2rem;
    margin: 15px 0 0;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 42vw;
        padding: 2vw;
    }
    
    .image {
        height: 38vw;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 96vw;
        padding: 3vw;
    }
    
    .image {
        height: 90vw;
    }
}

@media screen and (min-width: 2560px) {
    .card {
        width: 14vw;
        padding: 0.5vw;
    }
    
    .image {
        height: 13vw;
    }
}