.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-decoration: none;
    margin: 1vw;
}

@media screen and (max-width: 1024px) {
    .card {
        margin: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .card {
        margin: 3vw;
    }
}