.post {
    width: 81.5%;
}

.popupWithButtons {
    position: fixed;
    width: 300px;
    top: 100px;
    left: calc(50% - 150px);
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: var(--shadow);
    background-color: var(--block-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup {
    position: fixed;
    width: 300px;
    top: 100px;
    left: calc(50% - 150px);
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: var(--shadow);
    background-color: var(--block-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonRow {
    display: flex;
    gap: 5px;
    margin: 5px;
}

.cross {
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile input {
        width: 100%;
        margin: 8px 0 16px;
    }
}